:root {
  --logo_container_back: #7975db;
}

.menu_container {
  flex-flow: row wrap;
  grid-template-rows: repeat(3, 60px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  padding: 0;
  margin-top: 0.2rem;
  margin-left: 0.6rem;
  margin-right: 0.5rem;
  background-color: var(--logo_container_back);
  border-radius: 25px;
  padding: 0.1rem;
  transition: all 4s ease-in;
}

.menu_container.expand {
  display: flex;
  height: max-content;
  height: 310px;
  width: 60px;
}

.menu {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  z-index: 100;
}

.menu.isvisible {
  visibility: visible;
  display: flex;
  height: 90%;
  width: 100%;
  text-align: center;
}

.logo_container {
  text-align: center;
  flex-basis: 100%;
  height: 10%;
}

.menu ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: auto 0;
}

.menu .user_icon img {
  border-radius: 35%;
}

.menu ul li {
  width: 100%;
  height: 25%;
  padding: 10px;
}

.menu ul li picture {
  margin: auto 0;
  height: 100%;
}

.menu ul li img {
  width: 38px;
  color: #413d96;
  transition: all 0.2s;
}

.menu img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .menu_cont.expanded {
    width: 15%;
  }
}

@media screen and (min-width: 768px) {
  .logo_container {
    display: none;
  }

  .menu_cont,
  .menu_cont.expanded {
    display: flex;
    width: 7%;
    opacity: 0.9;
  }

  .menu {
    display: flex;
    padding: 0;
  }

  .menu .user_icon {
    height: 100%;
  }
}