.products_container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-color: #fff;
}

.products_main h2 {
  flex-basis: 100%;
  height: 30px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.search_cont {
  position: relative;
  width: 70%;
  margin: 0;
}

.search_cont span {
  position: absolute;
  top: 0.7rem;
  left: 0.3rem;
}

.search_cont input {
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-radius: 10px;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  outline: none;
  border: 2px solid #9898fd;
  text-align: center;
}

.products_main input:focus {
  outline: #5c56d1 solid 1px;
}

.add_icon_container {
  padding: 0;
  margin: 0;
  width: 40px;
  background-color: transparent;
  border: none;
  transition: 0.5s;
}

.add_icon_container picture {
  width: 100%;
  height: 100%;
}

.add_icon_container picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add_icon_container:hover {
  transform: scale(1.1);
}

.products_main {
  height: 30%;
  margin-left: 2.7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.table_container {
  display: flex;
  flex-flow: column wrap;
  grid-template-columns: repeat(2, 1fr);
}

.table_container .product_card {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid gray;
  padding: 0.2rem 0.5rem;
  transition: all 0.4s;
  align-items: center;
}

.product_card h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product_card div {
  width: 100%;
  text-align: center;
}

.product_card div input {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.product_card div input:focus {
  background-color: #f8f2f2;
}

.product_card div button {
  margin: 0.1rem 0.2rem;
  color: #fff;
  background-color: #413d96;
  outline: none;
  border: none;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  width: 40%;
  transition: all 0.3s;
}

.product_card div button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  margin: 0.1rem 0.4rem;
}
/* Add modal */
.add_product_container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.add_product_container form {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
}

/* Details modal */

.details_container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
}

.details_container div,
.add_product_container div {
  width: 80%;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.details_container div p,
.add_product_container form div p {
  margin: 2px 0;
}

.details_container div input,
.add_product_container form div input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  width: 100%;
  color: #fff;
}

.details_container div input:focus {
  border-bottom: 1px solid rgb(95, 95, 95);
}

.details_container div button,
.add_product_container form div button {
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f8f2f2;
  color: #322e80;
  font-weight: 700;
  transition: all 0.2s;
}

.details_container div button:hover,
.add_product_container form div button:hover {
  opacity: 0.9;
  transform: scale(1.1);
}
