* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* form  */

.form_container {
  padding: 1px;
  background-color: #fff;
  width: 100%;
  margin: 70px 0;
}

.form_container form {
  display: flex;
  flex-flow: column wrap;
  background-color: #6c63ff;
  padding: 15px 10px;
  margin: auto 0;
  align-items: center;
  border-radius: 25px;
}

.form_container form h2 {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

.form_container form input {
  padding: 0.8rem 0.5rem;
  width: 60%;
  margin: 5px 0;
  outline: none;
  border: none;
  border-radius: 10px;
}

.form_container form div {
  width: 60%;
  position: relative;
}

.form_container form div input {
  width: 100%;
}

.form_container form div i {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.form_container form input:focus {
  background-color: rgb(241, 241, 241);
}

.form_container form button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #4238fd;
  margin: 10px 0;
}

.form_container form picture {
  width: 45%;
  padding: 5px;
  margin: auto;
}

.form_container picture img {
  object-fit: cover;
  width: 100%;
}
